head
  link(rel='stylesheet', href='/style.css')
body
  header.header 

    
    
    #container
      #cta-section
        block content
          h1.
            Training videos for #[span #{userName}].
          p When you first arrive, only the first video will be unlocked.  Once you watch a video, refresh the page, and the subsequent video will unlock.  
          each videos, index in videolist
            if(index <= unwatchedVideo)
              details
                summary 
                  div(class='video-section')
                    img(src='play-circle.svg',width = "24") 
                    p video n° #{index} #{videos}
                iframe(type="text/html", src='https://embed.api.video/vod/'+videos+"?metadata[classUserName]="+userName, width = "960", height="320",frameborder="0", scrollling="no")
            else 
              details
                summary
                  div(class='video-section')
                    img(src='lock.svg',width = "24") 
                    p video n° #{index} #{videos}
                img(src='placeholder.jpg', class='locked-video', width = "960")   
          //- each videos, index in videolist
          //-   if(index <= unwatchedVideo)
          //-     p #{index}    #{videos}
          //-   else 
          //-     p #{index}    #{videos}
          //- p #{unwatchedVideo}
      
        a(class='btn', href='/') Start over!
        p
    